<!DOCTYPE html>

<h1>これがはじめての自力でのDjangoでの遊びである。</h1>
<p>今後このように、自分で作りながら遊んでDjangoの使い方を身につけていこうと思う。</p>

<h1>今日はここにGit, Githubの練習も組み合わせてみた。</h1>
<p>エラーが出たりして少し焦ったが、よく考えてやればできたのでよかった。</p>
<p>エラーの内容としてはリモートリポジトリを作成して、初期設定の最後、push しようとして失敗した。</p>
<p>git add も git commit もしてないのにpushしようとしたからだった。そりゃそうなるか。</p>

<h1>しまった...</h1>
<p>作業ブランチを切るのを忘れていた。mainブランチでそのまま作業してしまったよ。</p>
<p>今はまだmainブランチにいます。切り替えて次からの変更をしていきます。</p>

<h1>さて、今はdevelopで作業しているよ。</h1> 
<p>普通はmainブランチで作業はしないんだよね。なのにさっきまではしちゃってた。反省。</p>
<p>今書いているこの変更はdevelopブランチで作業している。</p>